* {
    box-sizing: border-box;
    margin: 0px;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.banner{
    width: 308px;
    height: 491px;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner__gradient{
    width: 308px;
    height: 273px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 56.56%, #70E096 100%);
    position: absolute;
    top: 230px;
    z-index: 100;
    border-radius: 0px 0px 10px 10px;
}

.banner__slider {
    width: 308px;
    height: 491px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 491px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 308px;
    height: 491px;
    object-fit: fill;
}

.slide__manual {
    position: absolute;
    width: 308px;
    margin-top: 470px;
    display: flex;
    justify-content: center;
}

.manual__btn {
    background-color: grey;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    z-index: 300;
}

.manual__btn:not(:last-child) {
    margin-right: 7px;
}

.manual__btn:hover {
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.slide__auto {
    position: absolute;
    width: 308px;
    margin-top: 470px;
    display: flex;
    justify-content: center;
}

.slide__auto div{
    background-color: grey;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    z-index: 300;
}

.slide__auto div:not(:last-child) {
    margin-right: 7px;
}

#radio1:checked ~ .slide__auto .auto__btn1 {
    background-color: white;
}

#radio2:checked ~ .slide__auto .auto__btn2 {
    background-color: white;
}

#radio3:checked ~ .slide__auto .auto__btn3 {
    background-color: white;
}

#radio4:checked ~ .slide__auto .auto__btn4 {
    background-color: white;
}

.banner__mark img{
    width: 61px;
    height: 57px;
    background-color: rgba(217, 217, 217, 0.7);
    border-radius: 0px 10px 10px 0px;
    padding: 10px 12px;
}

#banner__crown {
    width: 57px;
    height: 61px;
    border-radius: 0px 0px 10px 10px;
    padding: 12px 10px;
    position: absolute;
    top: 6px;
    left: 162px;
}

#banner__dislike {
    position: absolute;
    top: 190px;
    left: 33px;
}

#banner__like {
    transform: scaleX(-1);
    position: absolute;
    top: 190px;
    right: 33px;
}

.profile__info{
    width: 308px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 40px;
    top: 390px;
    z-index: 200;
}

.profile__info__1{
    width: 308px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#std {
    object-fit: fill;
    width: 34px;
    margin: 0px -7px;
}

#name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: white;
}

#age {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: white;
    margin-left: 11px;
}

.profile__info__2{
    width: 308px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: white;
    margin-left: 18px;
    margin-top: -5px;
}

#banner__i {
    width: 30px;
    position: absolute;
    top: 8px;
    right: 20px;
}

.info {
    width: 308px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
}

.info__title {
    width: 308px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.04em;
    margin-bottom: 3px;
    margin-left: 3px;
}

.info__keyword {
    width: 308px;
    background: #76E19A;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 16.5px;
    padding: 5px 15px;
    margin-right: 5px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 32px;
    height: 22px;
}