* {
    box-sizing: border-box;
}

.outerbox {
    width: 375px;
    height: 812px;
    box-shadow: 7px 7px 39px rgb(186, 186, 186);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    height: 69px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

iframe {
    border: none;
}

.navigation{
    width: 100%;
    height: 73.5px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(100px);
}

.navigation__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navigation__item img{
    width: 20px;
    margin-top: 14px;
}


.header__logo img {
    width: 117px;
    height: auto;
    object-fit: fill;;
}
